{% extends 'base-template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Reviewing {{product.name}}
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Write a review for {{product.name}}</h1>
        <p class="lead">We cherish your thoughts</p>
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success btn-sm" type="Submit" value="Create Review" />
        <a href="{% url 'view_product_details_route' product_id=product.id %}" class="btn btn-sm btn-danger">Back to
            product</a>
    </form>
</div>
{% endblock %}