{% extends "base-template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}
<div class="container">
    <div class="cart-banner jumbotron text-center border">
        <div class="container">
            <h1 class="jumbotron-heading">Shopping Cart</h1>
            <p class="lead">Items you added into your cart</p>
            <ul class="list-group">
        </div>
    </div>
    <hr class="mb-3">
    <div>
        <div class="container">
            <div class="row-fluid">
                <p class="mb-1 lead text-right"><strong>Grand Total: S$ {{cart_total}}</strong></p>
            </div>
            <div class="row-fluid text-right">
                <p class="d-inline-block"><a href="{% url 'show_product_route' %}"
                        class="btn btn-light border border-dark mb-3">Continue
                        Shopping</a></p>
                <p class="d-inline-block"><a href="{% url 'create_address' %}" class="btn btn-dark mb-3">Checkout</a>
                </p>
            </div>
        </div>
    </div>
    <hr class="my-1">
    <div class="my-3">
        {% for key, item in cart.items %}
        <li class="list-group-item">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <img class="card-img img-fluid border border-dark" src="{{item.image}}" alt="cart-image" />
                        </div>
                    </div>
                    <div class="col-sm-8 py-4">
                        <div>
                            <p class="text-uppercase"><strong>
                                    <a
                                        href="{% url 'view_product_details_route' product_id=item.id %}">{{item.name}}</a>
                                </strong>
                            </p>
                            <p>
                                Unit Price: <span class="lead">S$ {{item.price}}</span>
                            </p>
                            <p class="mb-0">
                                <form class="form-inline form-group" method="POST"
                                    action="{% url 'update_item_quantity' product_id=item.id %}">
                                    {% csrf_token %}
                                    Quantity: <input class="cart-quantity-input mx-1" type="text" name="qty"
                                        value="{{item.qty}}" />
                                    <input type="submit" class="btn btn-dark btn-sm mx-1" value="Update Quantity" />
                                </form>
                            </p>
                            <p>
                                Subtotal: <span class="lead">S$ {{item.total_price}}</span>
                            </p>
                            <p class="mb-0 mt-5">
                                <a href="{% url 'remove_from_cart' product_id=item.id %}"
                                    class="btn btn-danger btn-sm">Remove from Cart</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </div>
</div>

{% endblock %}