/* Homepage Styling */
.navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: brown;
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #454d55;
}

.navbar-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.carousel-caption {
    font-family: "Montserrat", sans-serif;
}

.body {
    font-family: "Montserrat", sans-serif;
}

/* footer styling */
footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    Color: brown
}


.featurette-one-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.push-navbar-down {
    height: 70px;
}

.featurette-one {
    background-image: src="{% static 'images/logo.jpg' %}";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.featurette-two-img {
    width: 10rem;
}

.form-inline .form-group {
    margin-right: 4px;
}

label {
    margin-right: 4px;
}

.products-banner {
    background-image: src="{% static 'images/logo.jpg' %}";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart-banner {
    background-image: src="{% static 'images/logo.JPG' %}";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart-quantity-input {
    width: 40px;
}