{% extends 'base-template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Order History
{% endblock %}

{% block content %}

<div class="container">
    <h1>Order History</h1>

    <p>
        List of all Orders
    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">product</th>
                <th scope="col">user</th>
                <th scope="col">purchase date</th>
                <th scope="col">qty</th>
                <th scope="col">price</th>
                <th scope="col">subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <th scope="row">{{purchase.id}}</th>
                <td>{{purchase.product_id.name}}</td>
                <td>{{purchase.user_id}}</td>
                <td>{{purchase.purchase_date}}</td>
                <td>{{purchase.qty}}</td>
                <td>S$ {{purchase.price}}</td>
                <td>S$ {{purchase.total}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}