{% extends 'base-template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container my-3">

    <div class="login-banner jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{% trans "Verify Your E-mail Address" %}</h1>
        </div>
    </div>

    <p class="lead">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize
        the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

</div>
{% endblock %}