{% extends "base.template.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Checkout Success
{% endblock %}

{% block content %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Checkout Cancelled</h1>
        <p class="lead">Alert! You've cancelled your checkout</p>
    </div>

    <p class="lead text-center">More things to see back there!</p>
    <div class="container-fluid my-3">
        <div class="row-fluid">
            <div class="d-flex justify-content-center">
                <a href="{% url 'show_product_route' %}" class="mx-auto btn btn-success btn-lg">Back to shopping</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}