{% extends 'base-template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Product Listing
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-inline d-flex justify-content-center" method="GET">
        <div class="form-group my-3">
            {{search_form|crispy}}
            <input type="submit" class="btn btn-dark" value="Search Products">
        </div>
    </form>
</div>
<div class="container">

    <div class="products-banner border border-dark shadow jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Our EDC Products</h1>
            <p class="lead">Find the right daily carry tool</p>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="card h-100 shadow">
                <img class="card-img-top img-fluid" src="{{product.image.cdn_url}}" alt="product-image" />
                <div class="card-body">
                    <h5 class="card-title"><a
                            href="{% url 'view_product_details_route' product_id=product.id %}">{{product.name}}</a>
                    </h5>
                    <p class="card-text mb-0">{{product.product_type}}</p>
                    <p class="card-text mb-0">S$ {{product.price}}</p>
                    <p class="card-text mb-0">{{product.colour}}</p>
                    <p class="card-text mb-0">{{product.length}} cm</p>
                    {% for tag in product.tag.all %}
                    <p class="badge badge-dark mb-0">{{tag}}</p>
                    {% endfor %}
                    <p class="card-text">Quantity Left: {{product.quantity}}</p>
                    <a href="{% url 'add_to_cart' product_id=product.id %}" class="btn btn-dark btn-sm">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
