{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
Delete {{product.name}}
{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Delete {{product.name}}</h1>
        <p class="lead">Remove a product from your listing</p>
        <p class="lead">Are you sure?</p>
    </div>
    <div class="container">
        <form class="d-flex justify-content-center" method="POST">
            {% csrf_token %}
            <input class="btn btn-success mx-3" type="submit" value="Yes" />
            <a href="{% url 'show_product_route' %}" class="btn btn-danger mx-3">No</a>
        </form>
    </div>
</div>
{% endblock %}