{% extends 'base.template.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
YOUR EDC SHOP
{% endblock %}

{% block content %}
<div class="featurette-one container-fluid py-4">
    <div class="col-md-4 p-lg-5 mx-auto my-5">
        <h1 class="display-4 featurette-one-text">Your EDC Shop</h1>
        <p class="lead featurette-one-text">What's in your pocket today?</p>
        <a class="btn btn-dark btn-outline-secondary text-light btn-lg featurette-one-text" href="/products">Browse &
            Shop</a>
    </div>
</div>
<div class="product-types container my-3">
    <div class="row">
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=1">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/boker_minitech.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">BOKER PLUS MINI TECH-TOOL CITY 4 BLACK G-10 MULTI TOOL
                        KNIFE</h1>
                    <p class="small card-content mx-auto">With a blade length of 5.2 cm, the Boker Plus Tech Tool Mini
                        is much more versatile, practical and effective than many other keychain knives. However, it is
                        still small enough to be added to a keychain without any problems. A polished, hollow-ground
                        blade made from Sandvik 12C27, contoured black G10 handle scales and a screwed handle. A fixed
                        loop and key ring are part of the standard equipment of the Tech Tool Mini. It also has a pair
                        of scissors, a multifunctional blade with a screwdriver, belt cutter and bottle opener.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=2">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/spyderco_atlantic.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">SPYDERCO ATLANTIC SALT GREEN 3.68” LC200N RUSTPROOF FOLDING
                        KNIFE</h1>
                    <p class="small card-content mx-auto">The Atlantic Salt is a time-tested favorite among savvy
                        mariners who appreciate its versatile combination of a blunt-tipped sheepfoot blade, a 50/50
                        index-finger choil, an integral shackle key, and ultra-corrosion-resistant materials. The newest
                        version of this popular model raises the bar even higher with a blade crafted from LC200N, a
                        nitrogen-enriched martensitic steel that is also fearlessly corrosion resistant, yet offers
                        enhanced edge retention.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=3">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/schrade_survival.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">SCHRADE SURVIVAL HATCHET 11.8" AXE</h1>
                    <p class="small card-content mx-auto">Schrade® Survival Hatchet, Titanium Coated 3Cr13 Stainless
                        Steel Head with Hammer Pommel, Black Glass Fiber Filled PA Handle with Ergonomic Black TPR
                        Rubber Grip, Extra Large Ferro Rod Fire-starter with Lanyard Stores Inside Handle, Thermoplastic
                        Belt Sheath.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=4">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/folomov_torch.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">FOLOMOV EDC C2 ULTRA COMPACT RECHARGEABLE FLASHLIGHT</h1>
                    <p class="small card-content mx-auto">The Folomov EDC C2 is an ultra compact 14300 flashlight that
                        has a Nichia E21A LED producing 600 max lumens. Magnetic tail-cap for hands free lighting.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=5">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/sog_parashears.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">SOG PARASHEARS RED MULTI-TOOL SCISSORS</h1>
                    <p class="small card-content mx-auto">A focused multi-tool designed specifically for first
                        responders, ParaShears come complete with a mission-specific toolset that features 11
                        components, including shears, strap cutter, glass breaker, oxygen wrench and tweezers.

                        Leveraging SOG’s proprietary Compound Leverage technology, ParaShears are able to cut through
                        material easier and quicker than equivalent shears. Capable and reliable, the ParaShears are a
                        multi-tool designed for rapid, precise work under the most stressful conditions in medical
                        applications.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 my-3">
            <a class="text-dark" href="products/?name=&product_type=6">
                <div class="card container py-3 border shadow">
                    <img class="rounded-circle mx-auto" src="{% static 'images/boker_pen.jpeg' %}"
                        alt="placeholder image" width="140" height="140">
                    <h1 class="card-title lead my-3 mx-auto">BOKER PLUS BOLT-ACTION ALUMINIUM TACTICAL PEN WITH TORX T6
                        T8 DRIVER</h1>
                    <p class="small card-content mx-auto">Boker Plus Bit-Pen primarily serves as a high-quality writing
                        instrument, but convinces with a useful additional function. The short grip body is made of
                        lightweight aluminium and houses a bit holder which is hidden under the upper cap.

                        The practical bolt-action bayonet mechanism is also absolutely convincing, which significantly
                        increases the ease of use. For writing, there is no need to unscrew a cap or unscrew the refill.
                        The Boker Plus Bit-Pen also counteracts the annoying clicks of nervous users of plastic
                        ballpoint pens with the rich sound of the bayonet catch, which is made completely of metal.</p>
                </div>
            </a>
        </div>

    </div>

</div>
<hr class="my-3" />
<div class="container my-3">
    <article class="row featurette">
        <div class="col-md-5">
            <img class="featurette-two-img rounded mx-auto d-block" src="{% static 'images/logo.jpg' %}"
                alt="myedcshop-logo" />
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading mt-4">
                <span class="text-muted">About My EDC Shop</span>
            </h2>
            <p class="lead">
                My EDC Shop is about bringing you the latest in smart pocket gadgets and urban survival tools. Read about how
                everyday people like you use innovative tools in their daily carry. EDC = Every Day Carry.
            </p>
        </div>

    </article>
</div>
{% endblock %}